@media screen and (max-width: 1150px){

    .title{
        font-size: .8em;

    }

}

@media screen and (max-width: 900px){

    .buttons{
        gap:1em;
    }

}

@media screen and (max-width: 768px) {

    .title img{
        width: 6em;
        height: 6em;
    }

    /*********header*****************/

    .header .buttons{
        font-size: 1.4em;
    }

    /*news*/
    .Content .Articles .news-title{
        font-size: 2.8em;
        padding: .1em;
    }

    /*advertising*/
    #description{
        font-size: 1.2em;
    }
}