:root{
/*Colors*/
--orangeeconomic: #ffd19b;
--varAndFooter: #fb852d;
}

*{
box-sizing: border-box;
padding:0;
margin: 0;
font-family: 'Anek Devanagari', sans-serif;
}

html{
font-size:62.5%;
}

/******************body *************/

body{
    margin: 2%;
    background-color: var(--orangeeconomic);
}

/*Header*/

.Container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
}

.Container>.header {
    grid-column: 1/-1;
    background-color: var(--varAndFooter);
    color: #ffffff;
}

.header .buttons{
    list-style: none;
}

.Container>.Footer{
    grid-column: 1/-1;
    background-color: var(--varAndFooter);
    color: #ffffff;
}

.Container>.Content{
    grid-column: span 3; /*span es para ver cuantas columnas ocupa en el grid*/
}

.Content .Articles{
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--varAndFooter);
    background-color: #f7f7f7;
}

.Container>.advertising{
    grid-column: span 2;
    border: 1px solid var(--varAndFooter);
    margin: 10px;
    padding: 10px;
}



